M2Crypto==0.32.0; python_version < '3.7'
M2Crypto==0.44.0; python_version >= '3.7' and python_version < '3.9'
M2Crypto; python_version >= '3.9'
construct>=2.9.29
pyasn1
future
six
biplist
attrs
typing
enum34
packaging